.btn{
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em; /*0.5em = vertical, 1em = horizontal*/
    text-decoration: none;
    transition: 0.5s;
    border-radius: 1em;
}

.btn:hover{
    color: #ffbb33;
}